.icon{
    height: 100px;;
}

.header{
    grid-area: h;
    background-color: rgb(50, 131, 30);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.contacts{
    font-size: 30px;
}